<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add student</title>
</head>
<body>
<form action="#" th:action="@{/student-add}" th:object="${student}" method="post">
    <label for="studentName">Student name</label>
    <input type="text" th:field="*{studentName}" id="studentName" placeholder="studentName">
    <br/>
    <br/>
    <label for="team">Team</label>
    <input type="text" th:field="*{team}" id="team" placeholder="team">
    <br/>
    <br/>
    <label for="grade">Grade</label>
    <input type="text" th:field="*{grade}" id="grade" placeholder="Grade">
    <br/>
    <br/>
    <label for="homework">Homework</label>
    <input type="text" th:field="*{homework}" id="homework" placeholder="visit">
    <br/>
    <br/>
    <input type="submit" value="Add student">
</form>
</body>
</html>